<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8">
      <h2>プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
　      <% if @user.errors.any? %>
          <div class=error>
            <ul><h2 class=message>error</h2>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
        <p>introduction</p>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介"%><br><br>
        <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg"%><br>
        <label for="inputImage">ProfileImage</label><br>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br><br><br>
        <%= f.submit "Update User" %><br>
      <% end %>
    </div>
  </div>
</div>